:root{
    --vermelho: #E51B15;
    --verde: #30a73a;
    --amarelo: #dbcb3c;
    --branco: #fff;
    --cinzento: #aaa;
    --preto: #000; 
}

body {
    font-family: "Open Sans", sans-serif;

}

.btn {
    background-color: var(--vermelho);
    color: var(--branco);
    border: 1px solid var(--branco);
}

.btn:hover {
    background-color: var(--branco);
    color: var(--vermelho);
    border: 1px solid var(--vermelho);
}

.badge {
    background-color: var(--vermelho);
    color: var(--branco);
    border: 1px solid var(--branco);
}

.badge-amarelo {
    background-color: var(--amarelo);
    color: var(--branco);
    border: 1px solid var(--branco);
}

header {
    background-color: var(--vermelho);
}

header img {
    width: 200px;
}

nav input {
    background-color: var(--branco)!important;
    color: var(--preto)!important;
}

nav input::placeholder {
    color: var(--cinzento)!important;
}

main {
    text-align: justify;
}

.card-title {
    height: 75px;
}

.carousel-caption h5, .carousel-caption p {
    background-color: var(--vermelho);
    text-align: center;
}

#googlemaps {
    height: 400px;
}

footer {
    background-color: var(--vermelho);
    color: var(--branco);
}

footer a {
    color: var(--branco);
    border: 1px solid var(--branco);
    padding: 5px;
    border-radius: 50%;
    
}