body {
  background-color: bisque!important;
  margin: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

main {
  margin: 20px;
}


footer {
  text-align: center;
  background-color: grey;
  padding: 5px;
  margin: 10px;
  position: sticky;
}

header img {
  width: 300px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

nav a:hover {
  color: black;
}

.form-inline {
margin-left: auto;
margin-right: 5%;
}

.fab {
  color: black;
  display: inline-block;
}

p {
  text-align: justify;
}

span {
  background-color: red;
  color: white;
}
