body {
  background-color: bisque!important;
  margin: 20px;
  font-family: "Sofia", sans-serif;
}

main {
  margin: 20px;
  
}

header {
position: sticky;
top: 0px;
}

footer {
  text-align: center;
  background-color: grey;
  padding: 5px;
  
  position: sticky;
  bottom: 0;
}

header img {
  width: 300px;
}

.navbar {

}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

nav a:hover {
  color: black;
}

.form-inline {
margin-left: auto;
margin-right: 5%;
}

.fab {
  color: grey;
  display: inline-block;
}

p {
  text-align: justify;
}

span {
  background-color: red;
  color: white;
}

h1 {
  font-family: serif;
  padding-top: 20px;
}

h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 20px;

}
