body {
  
  margin: 20px;
  font-family: "Roboto", sans-serif;
  
}

main {
  margin: 20px;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: 300;
}

header {
position: sticky;
top: 0px;
}

footer {
  text-align: center;
  
  padding: 5px;
  
  position: sticky;
  bottom: 0;
}

header img {
  width: 300px;
}

.navbar {

}

nav a {
  color: white;
  text-decoration: none;
  padding: 15px;
}

nav a:hover {
  color: black;
}

.form-inline {
margin-left: auto;
margin-right: 5%;
}

.fab {
  color: grey;
  display: inline-block;
}

p {
  text-align: justify;
}

h1 {
  padding-top: 20px;
  font-size: 36px!important;
}

h2 {
  padding-top: 20px;

}
